**/bazel-out
**/bazel-bin
**/bazel-gravity2
**/external
**/bazel-testlogs
MODULE.bazel.lock

.cache

.vscode
**/.vs

*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.slnx


Makefile
*.make

**/bin
**/bin-int

**/.temp

**/renderdoc

compile_commands.json
config.json
generated

/resources

doxygen*

imgui.ini

**/*.state
**/*.pyc

*.bin

logs/*
AssimpLog.txt

prebuilt
*.pftrace
*.big

.env

modules/
architecture/
